@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif; 
	scroll-behavior: smooth;
}
body {
	min-height:  100vh;
	overflow-x: hidden;
	background: linear-gradient(#2b1055,#a3c1ff, #7395dc, #210b44);
}
header {
	position: fixed;
	top : 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
header .logo {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	letter-spacing: 2px;
}
header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li {
	list-style: none;
	margin-left: 20px;
}
header ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active {
	background: #fff;
	color: #2b1055;
}
section {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
/*section::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #1c0522,transparent);
	z-index: 1000;
}*/
.z11 {
	z-index: 11 !important;
}
.z10 {
	z-index: 10 !important;
}
.z9 {
	z-index: 9 !important;
}
section img.mountains,
section img#rain_front,
section img#stars {
	position: fixed !important;
}
section img:not(.light, .clouds) {
	top: 0;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
img.clouds {
	left: -1000px;
	z-index: 11;
	position: fixed;
	transform: scale(0.34);
	transition: left .8s ease-in-out;
}
img.clouds.dark-clouds{
	opacity: 0.7;
}
img.clouds.night-clouds {
	left: -1000px;
    top: 0;
    transform: scale(1) rotate(180deg);
    margin-top: -185px;
}
img.night-cloud-6, img.night-cloud-7, img.night-cloud-14 {
	top: 1vw !important;
}
img.night-cloud-9 {
	top: 2vw !important;
}
img.night-cloud-8, img.night-cloud-13 {
	top: 3vw !important;
}
img.night-cloud-10 {
	top: 4vw !important;
}
img.night-cloud-11 {
	top: 6vw !important;
}
img.night-cloud-12 {
	top: 8vw !important;
}
img.night-cloud-15, img.night-cloud-16 {
	top: -3vw !important;
}
img.night-cloud-17 {
	top: -7vw !important;
}
section img.sc1-lhc-1,
section img.sc1-lhc-2,
section img.sc1-rhc-1,
section img.sc1-rhc-2 {
	top: -153px;
	z-index: 10;
}
section img.sc1-tc-1,
section img.sc1-tc-2 {
	z-index: 12;
	transform: scale(0.2);
}
section img.sc1-tc-1 {
	top: 119px;
}
section img.sc1-tc-2 {
	top: 129px;
}
section img.sc2-tm-1 {
	top: -19px;
	z-index: 10;
}
section img.sc2-tm-2 {
	top: 0px;
	z-index: 12;
}
section img.sc2-lhc {
	top: -135px;
}
section img.sc3-mm {
	top: 260px;
	z-index: 11;
	transform: scale(0.24);
}
section img.sc-rhc {
	top: -128px;
	z-index: 12;
}
section img.sc-bm {
	top: 88px;
	z-index: 10;
}

section img.light {
	top: 0;
	left: 50%;
	margin-left: -256px;
	position: fixed;
	mix-blend-mode: screen;
	transform: scale(0.4);
}
section img.sun-light {
	transform: scale(0.8);
}
section img.mountains_siang {
	z-index: 10;
}
section img.mountains_malam {
	z-index: 11;
}
section img.rain_front {
	z-index: 10;
	opacity: 0;
	transition: opacity .8s ease-in-out;
}
#text {
	position: absolute;
	right: -350px;
	color: #fff;
	white-space: nowrap;
	font-size: 7.5vw;
	z-index: 9;
}
#btn {
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #fff;
	color: #2b1055;
	font-size: 1.5em;
	z-index: 9;
	transform: translate(8px);
}
.sec {
	position: relative;
	padding: 100px;
	/*background: #1c0522;*/
}
.sec h2 {
	font-size: 3.5em;
	margin-bottom: 10px;
	color: #fff;
}
.sec p {
	font-size: 1em;
	color: #fff;
}